/* Card.css */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 350px;
    height: 400px;
    object-fit: cover;
  }
  
  .card-img-top {
    width: 100%;
    height: auto;
  }
  
  .card-body {
    padding: 16px;
  }
  
  .card-title {
    color: #007bff;
    font-size: 1.25rem;
    margin-bottom: 16px;
  }
  
  .card-text {
    margin-bottom: 16px;
  }
  
  .text-muted {
    color: #6c757d;
  }
  
  .btn {
    background-color: #007bff;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .btn:hover,
.btn:active,
.btn:focus {
  background-color: #007bff;
  color: white;
}