/* MainMenuPage.css */

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-container {
    margin-bottom: 20px;
    position: relative;
    max-width: 300px;
    margin: 0 auto;
  }
  
  .button {
    background-color: #0098d9;
    position: relative;
    padding: 10px 20px;
    transition: transform 0.3s;
    width: 100%;
  }
  
  .button:hover {
    transform: scale(1.1);
  }
  
  .button:active {
    transform: scale(1);
  }
  
  .button span {
    margin-right: 5px;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This will take the full viewport height */
    gap: 5px; /* This will add space between the buttons */
  }

