/* ActivitiesPage.css */

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh; /* This will take the full viewport height */
    margin-top: 0; /* Add this line */
    padding-top: 0; /* Add this line */
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px; /* This will add space between the button and the bottom of the screen */
  }
  
  .button {
    border-radius: 10px;
    position: relative;
    padding: 10px 20px;
    background-color: #0098d9;
    transition: transform 0.3s;
  }
  
  .button:hover {
    transform: scale(1.1);
  }
  
  .button:active {
    transform: scale(1);
  }
  
  .button span {
    margin-right: 5px;
  }

  .filter-button {
    z-index: 1000;
    position: relative;
  }