/* CSS 
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  height: 100%; /* Set height to 100% to fill the viewport 
  box-sizing: border-box; /* Include padding in the height calculation 
}

.form-container {
  width: 100%;
  max-width: 400px;
}

.form-input {
  width: 100%;
  margin-bottom: 20px;
}

input[type="email"],
input[type="text"],
input[type="password"],
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: calc(100% - 20px); /* Adjust width to accommodate padding 
  box-sizing: border-box; Include padding in the width calculation 
}

.interests-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Add margin-bottom to each label element 
.interests-container label {
  display: block;
}

/* Add margin-bottom to each checkbox input 
.interests-container input[type="checkbox"] {
  margin-bottom: 5px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

.btn-primary {
  margin-right: 10px;
}

.btn-primary:hover {
  transform: scale(1.1);
}

.btn-primary span {
  margin-right: 5px;
}

button {
  background-color: #0098d9;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s;
}

button:hover {
  transform: scale(1.1);
}*/
