.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000444;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-hover-effect {
  transition: transform 0.3s;
}

.btn-hover-effect:hover {
  transform: scale(1.1);
}
.btn-custom {
  border-radius: 10px !important;
  position: relative !important;
  padding: 10px 20px !important;
  transition: transform 0.3s !important;
  background-color: #0098d9 !important;
  color: white !important;
  border-width: 3px !important;
}